* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #666;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

header {
  background-color: rgb(68, 68, 68);
  padding: 10px 2%;
}

.logo-1 {
  float: left;
  height: 80px;
  width: 250px;
  background-image: url("../IMG/img-logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

section.cover-form,
section.cover-chamada,
section.cover-galeria {
  width: 100%;
  margin: 0 auto;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-top: 2px solid rgb(190, 190, 190);
}

footer p {
  font-family: sans-serif;
  color: rgb(190, 190, 190);
  font-size: 15px;
  text-align: center;
}

footer img {
  width: 150px;
  height: 50px;
}

.bg {
  background-image: url(../IMG/responsive-1.jpg);
  height: 570px;
  background-size: cover;
  background-position: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.form-container {
  float: right;
  width: 350px;
  height: 90%;
  background-color: rgba(190, 190, 190, 0.5);
  margin-right: 60px;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 5px 10px 18px rgb(68, 68, 68);
}

.form-container form {
  margin-top: 40px;
}

.form-container form input[type=text],
.form-container form input[type=email],
.form-container form input[type=tel] {
  width: 90%;
  height: 50px;
  border: 1px solid rgb(190, 190, 190);
  margin-left: 5%;
  margin-bottom: 25px;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 50px;
  padding-left: 15px;
  outline: none;
}

.submit-1 {
  width: 100%;
  text-align: center;
}

.form-container form input[type=submit] {
  width: 90%;
  height: 50px;
  background-color: rgb(68, 68, 68);
  color: rgb(190, 190, 190);
  border: none;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 15px;
}

.form-container form input[type=submit]:hover {
  border: 3px solid rgb(190, 190, 190);
  cursor: pointer;
}

.form-container form input:focus {
  border: 2px solid rgb(190, 190, 190);
  border-radius: 10px;
}

.form-container h2 {
  padding: 15px;
  background-color: rgba(190, 190, 190, 0.5);
  color: rgb(68, 68, 68);
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  border-radius: 10px 10px 0 0;
}

.chamada {
  margin-top: -10px;
  text-align: center;
  background-color: rgba(68, 68, 68, 0.5);
  color: rgb(190, 190, 190);
}

.chamada-nome h2 {
  padding: 20px 0;
  font-family: sans-serif;
  font-size: 20px;
}

.chamada-img {
  width: 100%;
  height: 64px;
  padding: 0 auto;
}

.chamada-img img {
  width: 64px;
  height: 64px;
  margin-top: -32px;
}

.flex-mosaico {
  display: flex;
  background-color: rgba(68, 68, 68, 0.5) ;
}

.img-mosaico {
  width: 60%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-mosaico {
  width: 40%;
  padding-left: 100px;
}

.text-mosaico p {
  padding-top: 40px;
  padding-bottom: 125px;
  font-size: 20px;
  font-family: sans-serif;
  color: rgb(190, 190, 190);
  text-align: left;
  font-weight: bold;
}

.img-mosaico img {
  width: 300px;
  max-width: 100%;
  height: 250px;
  max-height: 80%;
}

@media screen and (max-width: 768px) {
  header {
    text-align: center;
  }

  section.cover-form div.container {
    text-align: center;
  }

  .logo-1 {
    margin-top: 10px;
	display: inline-block;
    float: none;
  }
    
  .flex-mosaico {
    display: block;    
  }

  .text-mosaico {
    width: 100%;
    padding: 0 0 0 0;    
  }

  .text-mosaico p {
    text-align: center;
  }

  .img-mosaico {
    width: 100%;
    padding: 0 0 20px 0;
    margin-top: -100px;
  }

  .form-container {
    float: none;
    display: inline-block;
    text-align: center;
    margin: 20px auto;
  }

}